@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

html{
  font-family: 'Roboto', sans-serif;
}

nav{
  padding-left: 1em;
  background-color: #FB8C6F;
  /* FCC763 or C0B9AD or 72607D */
}

h2{
 font-size: 3em;
 font-family: 'Lobster', sans-serif;
}

h3{
 font-size: 2em;
 font-family: 'Lobster', sans-serif;
}

video{
  width: 100%;
}

.checkbox-orange[type="checkbox"].filled-in:checked + span:not(.lever):after{
  border: 2px solid #FB8C6F;
  background-color: #FB8C6F;
}

.myorange{
  color: #FB8C6F;
}

.page-footer{
  background-color: #C0B9AD;
  padding: 2em;
}

tr>th{
  font-style: italic;
}
